{
  "printWidth": 100,
  "formatOnPaste": true,
  "formatOnSave": true,
  "formatOnSaveMode": "modifications",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true
}