@tailwind base;
@tailwind components;
@tailwind utilities;

a:visited {
  color:'inherit';
}

blockquote {
  background-color: white;
}

code {
  background: #808080;
  color: white;
  font-family: monospace;
  
}

pre {
  background-color: #3b3b3b;
  color: white;
  padding: 2rem;
}

.code-line {
  color: white;
}

.code-highlight {
  background-color:transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  color:inherit;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.lp-gradient-text{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.react-markdown img{
  width: 70%;
  margin: auto;
  display: flex;
}
.builtin{
  color: tomato;
}
.keyword{
  color: #4694e2;
}
.punctuation{
  color: #99e24d;
}
.tag{
  color: #a0e546;
}
.property-access{
  color: #4fff98;
}
.class-name{
  color: #98ca3b;
}
.operator{
  color: #a0e546;
}
.code-line{
  white-space: break-spaces;
  word-break: break-all;
}
.comment{
  color: #8c8c8c;
}
.function{
  color: #4ce476;
}
pre{
  border-radius: 10px;
  padding: 0.5rem;
  color: #FFF;
  word-break: break-all;
}

._1udoG {
  z-index: 10;
}
