@tailwind base;
@tailwind components;
@tailwind utilities;

a:visited {
  color: 'inherit';
}

blockquote {
  background-color: white;
}

code {
  background: #808080;
  color: white;
  font-family: monospace;
}

pre {
  background-color: #3b3b3b;
  color: white;
  padding: 2rem;
}

.code-line {
  color: white;
}

.code-highlight {
  background-color: transparent;
}

.container-lessons a {
  color: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.lp-gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.react-markdown img {
  width: 70%;
  margin: auto;
  display: flex;
}
.builtin {
  color: tomato;
}
.keyword {
  color: #4694e2;
}
.punctuation {
  color: #99e24d;
}
.tag {
  color: #a0e546;
}
.property-access {
  color: #4fff98;
}
.class-name {
  color: #98ca3b;
}
.operator {
  color: #a0e546;
}
.code-line {
  white-space: break-spaces;
  word-break: break-all;
}
.comment {
  color: #8c8c8c;
}
.function {
  color: #4ce476;
}
pre {
  border-radius: 10px;
  padding: 0.5rem;
  color: #fff;
  word-break: break-all;
}

._1udoG {
  z-index: 10;
}

.search-bar {
  border: 1px solid #99e24d;
  border-radius: 9999px;
  padding: 10px 20px;
  outline: none;
  width: 100%;
  opacity: 95%;
}

.search-bar:focus {
  border-color: #99e24d;
  box-shadow: 0 0 10px #99e24d;
}

.icon {
  transition: fill 0.3s ease;
}

.light-mode .icon {
  filter: invert(0%);
}

.dark-mode .icon {
  filter: invert(100%);
}
