@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.lp-gradient-text{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.react-markdown img{
  width: 70%;
  margin: auto;
  display: flex;
}
pre{
  background-color: rgb(99, 99, 99);
  padding: 1rem;
  white-space: pre-wrap;
  border-radius: 14px;
}
code{
  font-style: italic;
}