.linha {
    display: flex;
    flex: 1;
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimentos */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total do elemento */
}

.linha > * {
    flex: 1; /* Cada subdivisão ocupa espaço igual */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimentos */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total do elemento */
}

